<div style="display: flex; flex-wrap: wrap;">
<div style="background-color: rgba(125, 195, 197, 0.527); width: 370px; height: auto; font-size: 120%; padding: 10px;">
    <p><i><b>Nascer sabendo é uma limitação porque obriga a apenas repetir e, nunca, a criar, inovar, refazer, modificar. 
        Quanto mais se nasce pronto, mais refém do que já se sabe e, portanto, do passado; aprender sempre é o que mais impede que nos 
        tornemos prisioneiros de situações que, por serem inéditas, não saberíamos enfrentar</b></i></p>
   
 </div>   

 <div style="border-style: groove; width: 57%;">
     <h1 style="font-family: Freestyle Script; text-align: justify;">Contate-me</h1>
     <p><b>
         Fortaleza-CE <br>
         E-mail: lucastjw5@gmail. <br>
         Nº Celular: (85) 9 8936-4561 <br>
     </b></p>
     <h3 style="font-family: Freestyle Script; text-align: justify;">OU</h3>
     <p>
         <label for="e-mail">Digite seu E-mail para consultas:</label>
         <input type="email" id="e-mail" size="30"><br>
         <label for="comentario">Digite seu comentário:</label>
         <input type="text" id="comentario" size="75" >
         <input type="submit" value="Enviar">
     </p>
</div>